#program .main-gallery-item {
    flex-basis: 31%;
    position: relative;
    cursor: pointer;
}
#program .description {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left:0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000f984d;
    transition: .4s;
}
#program .description-img {
    width: 60px;
}
#program .description p {
    margin-top: 10px;
    color: #fff;
}
#program .main-gallery-item:hover .description {
    top: 0;
}
